{% extends 'alumnos/layouts/view_home_alumno.html' %}

{% block content %}

    <main>

        {% if no_autenticado %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>¡Error!</strong> {{ no_autenticado }}
            </div>
        {% else %}
            <h1 class="text-center text-white">Hola {{ nombre_completo }}</h1>

            <div class="card mt-4 mx-auto" style="max-width: 400px;">
                <div class="card-body">
                    <h2 class="card-title text-center">Información</h2>
                    <p class="card-text text-center">{{ mensaje }}</p>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="password" class="form-label text-white text-uppercase">Ingresa tu nueva
                                    contraseña</label>
                                <input name="password1" id="password" type="password" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label text-white text-uppercase">Repite tu nueva
                                    contraseña</label>
                                <input name="password2" id="password1" type="password" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

    </main>

{% endblock %}
