{% extends 'maestros/layouts/view_home_maestro.html' %}

{% block content %}
    <div class="card-header mb-1 bg-success">
        <h1 class="text-center">Tus datos generales</h1>
    </div>

    <div class="card tarjeta container mb-5">

        <img src="{{ imagen }}" class="card-img-top rounded-circle imagen" alt="...">
        <div class="card-body p-5">
            <h5>{{ nombre }} {{ apellidos }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Correo electrónico:
                <span class="font-weight-bold">{{ email }}</span>
            </li>
            <li class="list-group-item">
                Teléfono:
                <span class="font-weight-bold">{{ numero_telefono }}</span>
            </li>
            <li class="list-group-item">
                Dirección:
                <span class="font-weight-bold">{{ direccion }}</span>
            </li>
            <li class="list-group-item">
                Fecha de Nacimiento:
                <span class="font-weight-bold">{{ fecha_nacimiento }}</span>
            </li>
            <li class="list-group-item">
                Especialidad:
                <span class="font-weight-bold">{{ especialidad }}</span>
            </li>

            <li class="list-group-item">
                Estado de la credencial:
                <span class="font-weight-bold">{{ estado_credencial }}</span>
            </li>
        </ul>
{##}
{#        {% if estado_credencial != 'Inactiva' %}#}
{#            <img src="{% url 'qr' matricula=matricula_alumnos %}" class="card-img-top imagen" alt="">#}
{#        {% endif %}#}


    </div>
{% endblock %}
